<h1>Stupid Coaching</h1>

<div class="you">
<p><%= @question %></p>
<p class="light">- You</p>
</div>
<br>
<div class="coach">
<p><%= @answer %></p>
<p class="light">- Your coach</p>
</div>

<div class="link">
<%= link_to "Ask a new question!", ask_path %>
</div>
