// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: left;
  background-color: #FFFAEF;
  text-decoration: none;
}

.btn {
  padding:5px 20px;
  display:inline-block;
  border-radius:3px;
  background:#3379B8;
  font-size:16px;
  color:white;
	&:hover {
    background-color: #3093BE;
  }
}

.input {
   padding: 5px;
}

h1 {
 color: #576E75;
}

p {
  font-size: 18px;
  margin: 5px;
  color: #494649;
}

a {
 text-decoration: none;
 font-weight: bold;
}

.link {
 padding-top: 20px;
}

a:link { 
  color: #6A96CA;
}
a:visited { 
  color: #6A96CA;
}
a:hover { 
  color: #CCCCCC;
}
a:active { 
  color: #333333;
}

.light{
  color: red;
  opacity: 0.5;
}

.coach {
  background-color: #f2d793;
  border-left-style: solid;
  border-color: #576E75;
  padding: 5px;
}

.you {
  border-left-style: solid;
  border-color: #576E75;
  padding: 5px;
}




